<div class="modal-header align-middle">
    <h4 id="modal-title">{{(title === "Create" ? ('category_management.campaign.create') :
        title === 'Edit' ? ('category_management.campaign.update') : ('category_management.campaign.detail'))|translate:({title: ('category_management.campaign.title'|translate) })}}</h4>
    <button (click)="activeModal.dismiss('Cross click')" aria-describedby="modal-title" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <form [formGroup]="form" id="form-1">
        <div class="row">
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{'category_management.campaign.code' | translate}}<span class="text-danger">*</span></label>
                <input [ngClass]="{ 'is-invalid': (isSubmit && f.code.errors) }" class="form-control" formControlName="code"
                       placeholder="{{('PORTAL.please_enter' | translate) + ('category_management.campaign.code' | translate)}}" type="text" maxlength="255" />
                <div *ngIf="isSubmit && f.code.errors" class="invalid-feedback">
                    <span *ngIf="f.code.errors.required">{{('PORTAL.please_enter' | translate) + ('category_management.campaign.code' | translate)}}</span>
                    <span *ngIf="f.code.errors.maxlength">{{('category_management.campaign.code' | translate)+('PORTAL.no_more_than_characters' | translate:'{length:255}')}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{'category_management.campaign.name' | translate}}<span class="text-danger">*</span></label>
                <input [ngClass]="{ 'is-invalid': (isSubmit && f.name.errors) }" class="form-control" formControlName="name"
                       placeholder="{{('PORTAL.please_enter' | translate) + ('category_management.campaign.name' | translate)}}" type="text" maxlength="255" />
                <div *ngIf="isSubmit && f.name.errors" class="invalid-feedback">
                    <span *ngIf="f.name.errors.required">{{('PORTAL.please_enter' | translate) + ('category_management.campaign.name' | translate)}}</span>
                    <span *ngIf="f.name.errors.maxlength">{{('category_management.campaign.name' | translate)+('PORTAL.no_more_than_characters' | translate:'{length:255}')}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{'category_management.campaign.nameEn' | translate}}<span class="text-danger">*</span></label>
                <input [ngClass]="{ 'is-invalid': (isSubmit && f.nameEn.errors) }" class="form-control" formControlName="nameEn"
                       placeholder="{{('PORTAL.please_enter' | translate) + ('category_management.campaign.nameEn' | translate)}}" type="text" maxlength="255" />
                <div *ngIf="isSubmit && f.nameEn.errors" class="invalid-feedback">
                    <span *ngIf="f.nameEn.errors.required">{{('PORTAL.please_enter' | translate) + ('category_management.campaign.nameEn' | translate)}}</span>
                    <span *ngIf="f.nameEn.errors.maxlength">{{('category_management.campaign.nameEn' | translate)+('PORTAL.no_more_than_characters' | translate:'{length:255}')}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{'category_management.campaign.description' | translate}}</label>
                <input [ngClass]="{ 'is-invalid': (isSubmit && f.nameEn.errors) }" class="form-control" formControlName="description"
                       placeholder="{{('PORTAL.please_enter' | translate) + ('category_management.campaign.description' | translate)}}" type="text" maxlength="255" />
                <div *ngIf="isSubmit && f.description.errors" class="invalid-feedback">
                    <span *ngIf="f.description.errors.required">{{('PORTAL.please_enter' | translate) + ('category_management.campaign.description' | translate)}}</span>
                    <span *ngIf="f.description.errors.maxlength">{{('category_management.campaign.description' | translate)+('PORTAL.no_more_than_characters' | translate:'{length:255}')}}</span>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button (click)="activeModal.dismiss('Cross click')" class="btn btn-secondary" data-dismiss="modal" type="button">
        <i class="fas fa-times mr-1"></i>{{'PORTAL.cancel' | translate}}
    </button>
    <button (click)="submit()" appDebounceClick class="btn btn-primary" type="button">
        <i class="fas fa-check mr-1"></i>{{'PORTAL.save' | translate}}
    </button>
</div>
