<div class="modal-header align-middle">
    <h4 id="modal-title">{{'ACCOUNT.change_password' | translate}}</h4>
    <button (click)="activeModal.dismiss('Cross click')" aria-describedby="modal-title" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <form [formGroup]="form" id="form-1">
        <div class="row">
            <div class="col-sm-12 col-md-12 form-group">
                <label class="pt-1">{{'ACCOUNT.old_password' | translate}}<span
                        class="text-danger">(*)</span></label>
                <input [ngClass]="{ 'is-invalid': (isSubmit && f.oldPassword.errors)}" maxlength="50" class="form-control"
                    formControlName="oldPassword" placeholder="{{'ACCOUNT.enter_old_password' | translate}}" type="password" />
                <div *ngIf="isSubmit && f.oldPassword.errors" class="invalid-feedback">
                    <span *ngIf="f.oldPassword.errors.required">{{'ACCOUNT.please_input_old_password' |
                        translate}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 form-group">
                <label class="pt-1">{{'ACCOUNT.new_password' | translate}}<span
                        class="text-danger">(*)</span></label>
                <input [ngClass]="{ 'is-invalid': (isSubmit && f.password.errors)}"  class="form-control"
                    formControlName="password" placeholder="{{'ACCOUNT.enter_new_password' | translate}}" type="password" 
                    (ngModelChange)="checkPassSpecialCharacter($event)"/>
                <div *ngIf="isSubmit && f.password.errors" class="invalid-feedback">
                    <span *ngIf="f.password.errors.required">{{'ACCOUNT.please_input_new_password' |
                        translate}}</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 form-group">
                <label class="pt-1">{{'ACCOUNT.re_new_password' | translate}}<span
                        class="text-danger">(*)</span></label>
                <input [ngClass]="{ 'is-invalid': (isSubmit && f.rePassword.errors)}" maxlength="255" class="form-control"
                    formControlName="rePassword" placeholder="{{'ACCOUNT.enter_re_new_password' | translate}}" type="password" />
                <div *ngIf="isSubmit && f.rePassword.errors" class="invalid-feedback">
                    <span *ngIf="f.rePassword.errors.required">{{'ACCOUNT.please_input_re_new_password' | translate}}</span>
                    <div *ngIf="f.rePassword.errors.confirmedValidator">{{'ACCOUNT.PWD_and_RPWD_must_be_match' | translate}}</div>

                </div>
            </div>
           
        </div>

        <!-- <ul>
            <li *ngFor="let item of listSystemParameter">
             {{ item?.name }}: {{ item?.value }}
            </li>
        </ul> -->

        <ul style="list-style-type: none">
            <li [ngClass]="{ 'text-success': !isInValidNumber}">
                <i *ngIf="!isInValidNumber" class="remixicon-checkbox-circle-line"></i>
                {{'ACCOUNT.PWD_MIN_NUMERIC' | translate}}: {{PWD_MIN_NUMERIC}}
            </li>

            <li [ngClass]="{ 'text-success': !isInValiMinlength}">
                <i *ngIf="!isInValiMinlength" class="remixicon-checkbox-circle-line"></i>
                {{'ACCOUNT.PWD_MIN_LENGTH' | translate}}: {{PWD_MIN_LENGTH}}
            </li>
            <li [ngClass]="{ 'text-success': !isInValiMaxlength}">
                <i *ngIf="!isInValiMaxlength" class="remixicon-checkbox-circle-line"></i>
                {{'ACCOUNT.PWD_MAX_LENGTH' | translate}}: {{PWD_MAX_LENGTH}}
            </li>
            <li [ngClass]="{ 'text-success': !isInValidSpecialCharacters}">
                <i *ngIf="!isInValidSpecialCharacters"  class="remixicon-checkbox-circle-line"></i>
                <i *ngIf="isInValidSpecialCharacters"  class="remixicon-close-circle-line"></i>
                {{'ACCOUNT.PWD_SPECIAL_CHARACTERS' | translate}}:      {{PWD_SPECIAL_CHARACTERS}}
            </li>

            <li [ngClass]="{ 'text-success': !isInValidSmallLetter}">
                <i  *ngIf="!isInValidSmallLetter" class="remixicon-checkbox-circle-line"></i>
                {{'ACCOUNT.PWD_MIN_SMALL_LETTER' | translate}}: {{PWD_MIN_SMALL_LETTER}}
            </li>

            <li [ngClass]="{ 'text-success': !isInValidCapitalLetter}">
                <i *ngIf="!isInValidCapitalLetter" class="remixicon-checkbox-circle-line"></i>
                {{'ACCOUNT.PWD_MIN_CAPITAL_LETTER' | translate}}: {{PWD_MIN_CAPITAL_LETTER}}
            </li>
            <li [ngClass]="{ 'text-success': !isInValidPass}">
                <i *ngIf="!isInValidPass" class="remixicon-checkbox-circle-line"></i>
                {{'ACCOUNT.PWD_MIN_SPECIAL' | translate}}: {{PWD_MIN_SPECIAL}}
            </li>
        </ul>
        
    </form>

</div>
<div class="modal-footer">
 
    <button (click)="submit()" class="btn btn-primary" type="button">
        <i class="fas fa-check mr-1"></i>{{'PORTAL.save' | translate}}
    </button>
</div>