<div class="modal-header align-middle">
    <h4 id="modal-title">{{title==="Create"?('PORTAL.create_department'|
        translate):title==='Edit'?('PORTAL.edit_department'|
        translate):('PORTAL.chi_tiet'| translate)}}</h4>
    <button (click)="activeModal.dismiss('Cross click')" aria-describedby="modal-title" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <form [formGroup]="form" id="form-1">
        <div class="row">
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{'PORTAL.department_code' | translate}}<span
                        class="text-danger">(*)</span></label>
                <input [ngClass]="{ 'is-invalid': (isSubmit && f.code.errors)}" maxlength="255" class="form-control"
                    formControlName="code" placeholder="{{'PORTAL.enter_department_code' | translate}}" type="text" />
                <div *ngIf="isSubmit && f.code.errors" class="invalid-feedback">
                    <span *ngIf="f.code.errors.required">{{'PORTAL.vui_long_nhap_ma_phong_ban' |
                        translate}}</span><br />
                    <span *ngIf="f.code.errors.maxlength">{{'PORTAL.ma_phong_ban_khong_vuot_qua_255_ky_tu' |
                        translate}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{'PORTAL.phong_ban_cha' | translate}}</label>
                <ng-select placeholder="Chọn phòng ban cha" [items]="departmentAll" bindValue="id" bindLabel="name" formControlName="pid"></ng-select>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{'PORTAL.name' | translate}}<span
                        class="text-danger">(*)</span></label>
                <input class="form-control" [ngClass]="{ 'is-invalid': (isSubmit && f.name.errors)}"
                    formControlName="name" placeholder="{{'PORTAL.enter_name' | translate}}" type="text"
                    maxlength="255" />
                <div *ngIf="isSubmit && f.name.errors" class="invalid-feedback">
                    <span *ngIf="f.name.errors.required">{{'PORTAL.vui_long_nhap_ten_phong_ban' |
                        translate}}</span><br />
                    <span *ngIf="f.name.errors.maxlength">{{'PORTAL.ten_phong_ban_khong_vuot_qua_255_ky_tu' |
                        translate}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{'PORTAL.english_name' | translate}}<span
                        class="text-danger">(*)</span></label>
                <input class="form-control" [ngClass]="{ 'is-invalid': (isSubmit && f.nameEn.errors)}"
                    formControlName="nameEn" placeholder="{{'PORTAL.enter_english_name' | translate}}" type="text"
                    maxlength="255" />
                <div *ngIf="isSubmit && f.nameEn.errors" class="invalid-feedback">
                    <span *ngIf="f.nameEn.errors.required">{{'PORTAL.vui_long_nhap_ten_phong_ban_bang_tieng_anh' |
                        translate}}</span><br />
                    <span
                        *ngIf="f.nameEn.errors.maxlength">{{'PORTAL.ten_phong_ban_bang_tieng_anh_khong_vuot_qua_255_ky_tu'
                        | translate}}</span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button (click)="reset()" class="btn btn-secondary" data-dismiss="modal" type="button">
        <i class="fas fa-times mr-1"></i>{{'PORTAL.cancel' | translate}}
    </button>
    <button (click)="submit()" class="btn btn-primary" type="button">
        <i class="fas fa-check mr-1"></i>{{'PORTAL.save' | translate}}
    </button>
</div>