<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-primary">
        2022 © D-COLLECTION by <a href="https://online.acb.com.vn" target="_blank"> FIS Bank HCM</a>
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a target="_blank"  href="https://goo.gl/maps/ndaKNX9yy3J2B7Ls9"><i class="fas fa-map-marker-alt"></i> Lô B3, Đ. Sáng Tạo, Tân Thuận Đông, Quận 7, Thành phố Hồ Chí Minh</a>
        </div>
      </div>
    </div>
  </div>
</footer>
